body, html {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-image: url('/stock.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
  }
  
  header {
    background-color: rgb(179, 255, 0);
    padding: 20px 0;
  }
  
  section {
    padding: 60px 0;
    background-color:rgba(0, 0, 0, 0.7);
  }
  
  footer {
    background: linear-gradient(to right, #0062E6, #33AEFF);
    padding: 20px 0;
  }
  
  h2 {
    margin-bottom: 30px;
  }
  
  #values ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
  
  #main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
  }
  .logo-img {
    border-radius: 100%;
    margin-left: 25px;
    margin-top: -8%;
    float: left;
    width: 159px;
    height: 132px;
  }
  .thooval-img{

    margin-right: 25px;
    margin-top: -8%;
    float: right;
    width: 159px;
    height: 132px;
  }
 